.brand-logo h1{color:rgb(250, 241, 241);font-family: arial , sans-serif;}
 .brand-logo span {color:#d4f51a;font-weight: bold;font-style: italic;text-shadow:1px 1px 2px rgba(0,0,0,0.2);}
header{background-color:#0a192f;
display:flex ;
align-items:center;
margin: 0px;
justify-content:space-between;
padding: 0px 50px;
border-radius:0;
flex-wrap:wrap;}
body{background-color: #ffffff;
    transition:background-size 0.5 ease;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;}
figure{margin:0;}
nav{display:flex;align-items:center;}
nav div a{color: white;
padding: 3px 10px; font-size: 20px;
text-decoration:none;margin-right:5px;cursor:pointer; } 
.signin button{padding:5px 15px;font-size: 20px;
background-color:#0a192f;
color:#c5a059;border:2px solid #c5a059;
font-family: "Nunito", sans-serif;
border-radius:20px;
cursor:pointer;
}
nav div a:hover{background-color:#c5a059;
border-radius: 15px;}
.signin button:hover
{background-color:#030a14;transition:0.3s;}
header img{height:auto;width:80px;
padding:5px 0 5px 0;}
.section1{background-color:#0a192f;
color:#ffffff;
align-items: center;
display:flex;justify-content:space-between;
padding:20px 40px;
border-radius:30px;
border:3px solid #c5a059;}
.shopnow-btn {background-color:#c5a059;padding:15px 20px;font-size:25px;border-radius:30px;color:#ffffff;
border:none;transition:all 0.3s ease;}
.shopnow-btn:hover{background-color:#0a192f;cursor:pointer;
transition:0.3s;color:#c5a059;border:3px solid #c5a059;transform:translateY(-5px);
box-shadow:0 10px 20px rgba(0,0,0,0.4);}
@media (max-width:1000px){
header{flex-direction:column;
gap:10px;padding:15px;}
}
.section1 img {width:400px;height:auto;
border-radius:30px;}
.section1 div {text-align: center;font-size:25px ;}
h3 {font-family:Arial, Helvetica, sans-serif;text-align: center;letter-spacing: 6px;font-weight: 400;margin-bottom: 10px;margin-top: 100px;}
.subtitle {text-align: center;font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #474444;}
.first {display: block; margin: 20px auto;
    width: 400px;padding: 15px;}
.third {display: block; margin: 20px auto;
    width: 432px;padding: 15px;
    background-color: #0a192f;color: aliceblue;
    border: none;cursor: pointer;}
.logo-img {display: block;margin: 60px auto 1px auto;}
.products-container img {width:300px;height:auto; border-radius: 30px 30px 0 0;}
.item {align-items: center;border-radius: 30px;width:300px;cursor:pointer;
    background-color: rgb(219, 218, 218);
transition:all 0.4s cubic-bezier(0.165,0.84,0.44,1);
position:relative;overflow:hidden;}
.item:hover{transform:scale(1.05);
box-shadow:0 20px 40px rgba(0,0,0,0.4);
background: rgba(255,255,255,0.1);
backdrop-filter:blur(5px);
border:1px solid rgba(255,255,255,0.2);}
    .itemname h2 {margin:0;}
    .itemname h4 {margin:5px;}
    .itemname p {margin:5px;}
    .itemname {padding:10px 15px;}
.products-container {display:flex;gap:15px;padding:2vw;background-color:#0a192f;
    margin:5px;border-radius:30px;width:auto;align-items:center; justify-content:space-around;flex-wrap:wrap;
border:3px solid #cfa059;}
.products-section h1{padding:5px 20px;background-color:#0a192f;width:fit-content;border-radius:25px;
color:#cfa059;border:3px solid #cfa059;} 
 footer{padding:5px 20px;align-items:center;background-color:#0a192f;color: white;
border-radius:0}
 footer p {text-align: center;}
.li {margin-top:60px;text-align:center;margin-right: 280px;}
ul{list-style-position:inside;}
@media (max-width:758px) {
  .section1 {
    flex-direction: column;
    padding: 20px;
    height: auto;
    text-align: center;
  }

  .section1 img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 20px auto;
  }

  .section1 div {
    width: 100%;
    margin: 0;
  }}

  hr{opacity:40%;}


    .about {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 60px 10%;
      gap: 40px;
      min-height: 100vh;
      background-color: white;
    }
    .about-text {
      max-width: 500px;
    }

    .about-text h1 {
      font-size: 40px;
      color: #0a192f;
      margin-bottom: 20px;
    }

    .about-text p {
      font-size: 18px;
      color: #0a192f;
      line-height: 1.7;
      margin-bottom: 25px;
    }

    .about-text button {
      padding: 12px 25px;
      border: none;
      background-color:#0a192f;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }